<h3 align="center">Hallo, I'm Runar <img src="./assets/wave.gif" width="30px" height="30px"></h3>

<div align="center">an ICT student and hobbyist developer from Norway — I like devops and mechanical keyboards</div>

<br/>
<div align="right"><sub><h6>
  <a href="https://www.last.fm/user/runarsf">{{#now_playing}}Now Playing{{/now_playing}}{{^now_playing}}Last Played{{/now_playing}}</a>: {{artist}} &mdash; {{track}}{{^track_eq_album}} ({{album}}){{/track_eq_album}} &nbsp;&nbsp; <a href="{{url}}">:musical_note:</a>
</h6></sub></div>

{{!
  <picture>
    <source media="(prefers-color-scheme: dark)" srcset="https://user-images.githubusercontent.com/25423296/163456776-7f95b81a-f1ed-45f7-b7ab-8fa810d529fa.png">
    <source media="(prefers-color-scheme: light)" srcset="https://user-images.githubusercontent.com/25423296/163456779-a8556205-d0a5-45e2-ac17-42d089e3c3f8.png">
    <img alt="Shows an illustrated sun in light color mode and a moon with stars in dark color mode." src="https://user-images.githubusercontent.com/25423296/163456779-a8556205-d0a5-45e2-ac17-42d089e3c3f8.png">
  </picture>
}}